@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --sh-class: #7aa2f7;
    --sh-sign: #89ddff;
    --sh-string: #9ece6a;
    --sh-keyword: #bb9af7;
    --sh-comment: #565f89;
    --sh-jsxliterals: #7aa2f7;
    --sh-property: #73daca;
    --sh-entity: #e0af68;
}

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-text-fill-color: inherit;
        box-shadow: 0 0 0 1000px rgb(248 250 252 / 0.9) inset;
        transition: background-color 10000s ease-in-out 0s;
        caret-color: inherit;
    }

    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark textarea:-webkit-autofill,
    .dark select:-webkit-autofill {
        box-shadow: 0 0 0 1000px rgb(9 9 11 / 0.85) inset;
        -webkit-text-fill-color: rgb(250 250 250);
    }
}
